@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
   url("./fonts/Metropolis/Metropolis-Medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: local("Metropolis"),
   url("./fonts/Metropolis/Metropolis-Regular.otf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Metropolis';
  background-color: #111216;
}

* {
  box-sizing: border-box;
  margin: 0;
}
